set routing-options router-id {{ router_id }}
{% for area in ospf_areas %}
{% for interface in area.interfaces %}
{% if interface.type == "p2p" %}
set protocols ospf area {{ area.id }} interface {{ interface.name }} interface-type p2p
{% else %}
set protocols ospf area {{ area.id }} interface {{ interface.name }}
{% endif %}
{% if interface.passive == True %}
set protocols ospf area {{ area.id }} interface {{ interface.name }} passive
{% endif %}
{% endfor %}
{% if area.stub is defined %}
{% if area.stub.no_summaries is defined %}
set protocols ospf area {{ area.id }} stub no-summaries
{% else %}
set protocols ospf area {{ area.id }} stub
{% endif %}
{% if area.stub.default is defined %}
set protocols ospf area {{ area.id }} stub default-metric {{ area.stub.default }}
{% endif %}
{% endif %}
{% endfor %}
{% if ospf_settings.export is defined %}
set protocols ospf export {{ ospf_settings.export }}
{% endif %}

